<app-navbar></app-navbar>
<div class="alert alert-success" role="alert" *ngIf="added">
    <p>Course added !</p>
</div>
<form [formGroup]="form" (ngSubmit)="update()">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" formControlName="name">
    <br>

    <label for="shortDescription">Short Description</label>
    <input type="text" id="shortDescription" name="shortDescription" formControlName="shortDescription">
    <br>
    <label for="imageURL">Image URL</label>
    <input type="text" id="imageURL" name="imageURL" formControlName="imageURL">
    <br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" formControlName="description">
    <br>
    <label for="price">Price</label>
    <input type="text" name="price" id="price" formControlName="price">
    <br>
    <button type="submit" [disabled]="!form.valid" class="btn btn-success">Add course</button><br>
</form>