<app-navbar></app-navbar>
<div *ngFor="let course of courses; index as i;">
    <div class="content shadow p-3 mb-5 bg-white rounded">
        <input type="hidden" value="{{course.id}}">
        <h2>{{course.name}}</h2>
        <img src="{{course.imageURL}}" alt="Course picture">
        <p>Short description:</p>
        <p>{{course.shortDescription}}</p>
        <p>Price : {{course.price.toFixed(2)}} $</p>
        <a class="btn btn-info" [routerLink]="['/course/', course.id]">Look course details</a>
        <br>
        <a class="btn btn-danger" *ngIf="userIsAuthor" [routerLink]="['/course/', course.id]">Delete course</a>
    </div>

</div>
<div class="alert alert-info" role="alert" *ngIf="noCourses">
    <p>No courses where found !</p>
    <p *ngIf="userIsAuthor">Try adding some new ones ! (Add course in the upper right)</p>
</div>