.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin-left: 30%;
    border: 5px solid #CFCBC9;
}

img{
    width: 20%;
    height: 15%;
}