<div class="info">
    <h2>Registration page</h2>
    <div *ngIf="usernameError" class="alert alert-danger">
        <p class="text-danger">That username already exists !</p>
    </div>
    <p class="instructions">Please fill all the fields !</p>
</div>

<div class="registerForm shadow p-3 mb-5 bg-white rounded">
    <form [formGroup]="registerForm" (ngSubmit)="registerUsername()">
        <div class="form-group">
            <table>
                <tr>
                    <td><label for="username">Username :</label></td>
                    <td><input class="form-control" type="text" name="username" placeholder="User12" id="username"
                            formControlName="username">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div *ngIf="usernameLen">
                            <p class="text-danger">Username should contain {{ 5 - usernameLength }} more characters !
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password :</label></td>
                    <td><input class="form-control" type="password" name="password" id="password" formControlName="password"></td>
                </tr>
                <tr>
                    <br>
                    <td>
                        <div *ngIf="passwordError">
                            <p class="text-danger">Password should contain {{ 5 - passwordLength }} more characters !
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="author">I want to </label></td>
                    <td><select class="custom-select" name="author" id="author" formControlName="author">
                            <option value="False">buy courses.</option>
                            <option value="True">make courses.</option>
                        </select></td>
                </tr>
                <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Register</button>
            </table>
        </div>

    </form>
</div>